@page "/"

<EditForm Model="_people">
  <div class="row">
    <div class="col-md-8">
      <p>
        <label>
          Person list
          <InputSelect @bind-Value="_personId">
            @foreach (Person person in _people) {
              <option value="@person.Id">@person.Name</option>
            }
          </InputSelect>
        </label>
      </p>

      <p>
        <label>
          Person name
          <InputText @bind-Value="Person.Name" />
        </label>
      </p>

      <p>
        <label>
          Person tel
          <InputNumber @bind-Value="Person.Tel" />
        </label>
      </p>
    </div>
  </div>
</EditForm>
