@page "/render"

@if (_render) {
  <EditForm Model="_people">
    <div class="row">
      <div class="col-md-8">
        <p>
          <label>
            Person list
            <InputSelect @bind-Value="_personId" class="form-control">
              @foreach (Person person in _people) {
                <option value="@person.Id">@person.Name</option>
              }
            </InputSelect>
          </label>
        </p>

        <p>
          <label>
            Person name
            <InputText @bind-Value="Person.Name" class="form-control" />
          </label>
        </p>

        <p>
          <label>
            Person tel
            <InputNumber @bind-Value="Person.Tel" class="form-control" />
          </label>
        </p>
      </div>
    </div>
  </EditForm>
} else {
  <div><i class="spinner-border spinner-border-sm"></i></div>
}